.search-field{
	background-color: $gray;
	height: 80px;
	margin: 0 -15px;
	padding: 15px 20px;
	text-align: right;

	.search-bar{
		font-size: $normal-size;
		position: relative;
		min-width: 280px;
		max-width: 350px;
		width: 100%;
		float: right;
		margin: 0 20px;

		input[type="text"]{
			background-color: #FFF;
			width: calc(100% - 50px );
			height: 40px;
			font-size: 1.2em;
			line-height: 1.2em;
			padding-left: 50px;
			border: solid 1px #D8D8D8 !important;
			border-radius: 6px;
			box-shadow: 1px 1px 2px rgba(0,0,0,.2) !important;
		}
		input[type="submit"]{
			display: none;
		}
		&:before{
			content: '';
			width: 30px;
			height: 30px;
			background-image: image-url('search-icon.png');
			background-position: center;
			background-repeat: no-repeat;
			background-size: 100%;
			position: absolute;
			top: 5px;
			left: 5px;
		}
		&.left{
			float: left;
		}
	}

}
