# Secret.
SECRET_KEY_BASE=development_secret

# Colorgy Core Info.
# URL.
export CORE_URL=https://colorgy.io/
# SSO.
DISABLE_SSO=true

# App credentials.
export APP_ID=
export APP_SECRET=

# App Name & URL.
export APP_NAME='Colorgy Books'
export APP_URL='http://books.colorgy.dev'

# Merchant Data.
# Allowed bill types, i.e. payment methods.
# Available types are: payment_code, credit_card, virtual_account
# and test_clickpay, test_autopay (for testing only).
export ALLOWED_BILL_TYPES='payment_code,credit_card,virtual_account,test_clickpay,test_autopay'
# Adapters of each bill type.
# Neweb for payment_code.
export NEWEB_MERCHANT_NUMBER=
export NEWEB_PAY_CODE=
export NEWEB_PAYMENT_API_URL=
export NEWEB_QUERY_API_URL=
# SinoPac for credit_card and virtual_account.
export SINO_PAC_API_BASE_URL=http://ecapisandbox.sinopac.com
export SINO_PAC_PFNO=
export SINO_PAC_KEY_DATA=

# Company and Invoice Issuing Data.
export COMPANY_TAX_ID=24722956
export INVOICE_SUBSUME_URL='https://wwwtest.einvoice.nat.gov.tw/APMEMBERVAN/membercardlogin'
export INVOICE_CARRIER_CODE=EJ0103
# Turn on testing mode, skipping interaction and validation of invoices.
export INVOICE_TEST_MODE=true

# Internal API Keys.
export TASK_API_KEY='development_key'

# Logging.
# Which logger to use, can be 'default', 'stdout' or 'remote'.
export LOGGER=default
# Remote Logger.
export REMOTE_LOGGER_HOST=
export REMOTE_LOGGER_PORT=

# Monitoring and Analysis Tools.
# UserVoice Javascript API key.
export USERVOICE_API_KEY=
# New Relic.
export NEWRELIC_LICENSE_KEY=
export NEWRELIC_APP_NAME=
# Google Analytics.
export GOOGLE_ANALYTICS_ID=
