# Secret.
SECRET_KEY_BASE=development_secret

# Colorgy Core Info.
# URL.
export CORE_URL=http://colorgy.dev/
# Site secret key.
export SITE_SECRET='site_development_secret'

# App credentials.
export APP_ID=
export APP_SECRET=

# App Name & URL.
export APP_NAME='Colorgy Books'
export APP_URL='http://books.colorgy.dev'

# Merchant Data
export ALLOWED_BILL_TYPES='payment_code,credit_card,virtual_account'
# Neweb
export NEWEB_MERCHANT_NUMBER=
export NEWEB_PAY_CODE=
export NEWEB_PAYMENT_API_URL=
export NEWEB_QUERY_API_URL=

# Internal API Keys
export TASK_API_KEY='development_key'

# Monitoring and Analysis Tools.
# UserVoice Javascript API key
export USERVOICE_API_KEY=
# Remote Logger.
export REMOTE_LOGGER_HOST=
export REMOTE_LOGGER_PORT=
# New Relic.
export NEWRELIC_LICENSE_KEY=
