.page.course_books {

	margin-top: 50px;
	min-height: calc(100vh - 130px);

	.select2-container {
		width: 100%;
	}

	.row .disabled {
		opacity: .5;
		pointer-events: none;
	}

	.row .step-3.disabled ~ .ps {
		opacity: .1;
	}

	.success > label::after {
		content: " 更新成功！";
	}

	.loading > label::after {
		content: " 更新中...";
	}

	.list-item {
		padding: 4px 4px 18px 4px;
		margin: 20px 0;
		background: #f5f4f4;
		box-shadow: 1px 1px 2px rgba(0,0,0, .4);
	}

	.list-item:nth-child(2n) {
		background-color: #fafafa;
	}

	blockquote {
		border-left: 5px solid #28a38c;
		max-width: 600px;
		margin-top: 30px;
		box-shadow: 1px 1px 2px rgba(0,0,0, .3);
		color: #28a38c;
		background-color: #f5f4f4;
		letter-spacing: .5px;
	}

	.ps {
		background-color: #28a38c;
		padding: 20px;
		color: #fff;
		float: right;
	}

	.label-title {
		padding: 5px;
		color: #fff;
		background-color: #28a38c;
		width: 100%;
		margin: 10px 0;
		margin-top: 0;
		text-align: center;
	}

	.step-1, .step-2 {

		.select2-container .select2-choice {
			height: 36px;
			font-size: 24px;
			line-height: 32px;
		}
	}
}
