nav{
	height: auto;
	background-color: transparent;
	box-shadow: none;
	.top{
		overflow: hidden;
		padding: 0 !important;
		.top-bar{
			height: 35px;
			background-color: black;
			ul{
				float: right;
				li{
					border-left: 1px solid $gray;
				}
			}
			a{
				padding: 0px 20px !important;
				line-height: 35px;
				color: #D8D8D8;
				&:hover{
					color: #FFF;
				}
			}
		}
	}
	.nav-wrapper{
		z-index: -1;
		height: auto;
		background-color: $theme;
		padding-left: 20px;
		border-bottom: 1px solid #F0F0F0;
		@include transition-all(0.18s);
		@media screen and (min-width: 992px ) {
			@include translateY(0px);
		}
		i{
			height: auto !important;
			line-height: initial !important;
			position: relative;
			top: 8px;
		}
		.brand-logo{
			max-width: 130px;
			@media screen and (min-width: 992px){
				padding: 8px 0;
			}
		}
		ul.main-nav{
			li{
				a{
					position: relative;
					color: $dark-gray;
					padding: 8px 20px;
					/*
					&:before{
						width: 15px;
						height: 15px;
						top: 25px;
						left: 10px;
						position: absolute;
						content: '';
						background-image: image-url("add-icon.png");
						background-repeat: no-repeat;
						background-size: 100%;
						background-position: center;
					}
					*/
				}
			}
		}
		/*&.scroll-down{
			position: fixed !important;
			width: 100%;
			@include translateY(-45px);
			&:hover{
				@include translateY(0px);
			}
		}*/
	}
}
@media screen and (max-width: 992px) {
	.top{
		display: none;
	}
}
.button-collapse{
	color: $dark-gray;
}
