<div class="container" style="padding-top: 24px;">
  <h1>主揪介面</h1>
  <p>
    ＃以下為您有成為主揪的團，請點擊進入選擇您想要的取書地點、日期、時間。
  </p>
  <% if @groups.blank? %>
    <h3 style="font-size: 24px; color: #E77B2D;"> 抱歉，您還沒有揪任何團~ </h3>
  <% else %>
    <table>
    	<thead>
    		<tr>
    			<th>您揪的團</th>
        </tr>
      </thead>
    	<tbody>
        <% @groups.each do |group| %>
    		  <tr>
  				  <td>
  			     <%= link_to "#{group.course_lecturer_name} / #{group.course_name}", group %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>
