<div class="container">
  <br>
  <br>
  <br>
  <br>
  <div class="row">
    <div class="col-md-6">
      <a href="<%= books_path %>">
        <div class="home-select-box">
          <h2 style="text-align: center;">
            我要買書
          </h2>
          <%= image_tag 'BOOKS.png' %>
        </div>
      </a>
    </div>
    <div class="col-md-6">
      <a href="<%= lecturer_index_path %>">
        <div class="home-select-box">
          <h2 style="text-align: center;">
            講師／教授管理課程用書資料
          </h2>
          <%= image_tag 'PROF.png' %>
        </div>
      </a>
    </div>
  </div>
 </div>
