.container
  br
  br
  br
  br
  .row
    .col-md-6
      .select-box
        h2(style="text-align: center;")
          |
          =< link_to "書庫瀏覽", books_path
        =image_tag("BOOKS.png")
    .col-md-6
      .select-box
        h2(style="text-align: center;")
          |
          =< link_to '講師／教授管理課程用書資料', lecturer_index_path
        =image_tag("PROF.png")
