<style type="text/css">
  ol{
    padding-left: 40px;
  }
  ol > li{
    text-align: left;
    font-size: 18px;
  }
</style>
<div class="container" style="margin-top: 50px;">
	<div class="row">
		<div class="col-md-12">
			<h2>萊爾富 Life-ET</h2>
        <ol>
          <li>選取「繳費・代收」、「網路交易」</li>
          <li>選取「藍新科技 ezPay」，在用戶須知介面選取「同意」</li>
          <li>選取「帳單查繳」</li>
          <li>輸入繳費代碼</li>
          <li>確認結帳資訊無誤後，選取「正確」列印繳費單，繳費單列印完成後，即可拿到櫃台繳費</li>
        </ol>
		</div>
	</div>
</div>

