<div class="container-fluid">
  <div class="row">
    <div class="content-strip primary">
      <div class="content-strip-inner">
        <h4 class="strip-title">回報課程用書</h4>
        <p class="strip-description"></p>
      </div>
    </div>
  </div>
  <div class="row row-inner-m text-center">
    <p class="h3">你可以為我們做什麼呢？</p>
    <div class="col m6 s12">
      <p class="h4">
        <a href="<%= new_user_course_book_path %>">我想要<span style="font-size: 32px;">回報新的</span>課程用書資訊</a>
      </p>
    </div>
    <div class="col m6 s12">
      <p class="h4">
        <a href="<%= user_course_books_edit_path %>">我想要<span style="font-size: 32px;">修正</span>一門課的用書資訊</a>
      </p>
    </div>
  </div>
</div>
