= simple_form_for(@lecturer_course, url: lecturer_courses_path, html: { class: '', style: 'margin-bottom: 36px;' }) do |f|
  = f.input :name
  = f.input :book_isbn
  = f.input :year
  = f.input :term
  = f.input :code
  = f.input :department_code
  = f.input :required
  = f.input :url
  = f.button :submit, style: 'background-color: green; color: #fff; margin-top: 20px;'
  = link_to '回到上一頁', :back, class:'btn btn-default', style: 'margin-top: 20px; margin-left: 20px'

javascript:

  function course_book_isbn_format(data) {
    if (!data.id) return data.text;
    if (!data.isbn) return data.text;
    formattedItem = [];
    if (data.image_url) formattedItem.push('<img style="max-height: 40px;" src="' + data.image_url + '"/>');
    formattedItem.push('<ul>');
    formattedItem.push('<li>' + data.text + '</li>');
    if (data.author) formattedItem.push('<li>' + data.author + '</li>');
    if (data.publisher) formattedItem.push('<li>' + data.publisher + '</li>');
    if (data.isbn && data.isbn.substring(0, 5) != 'NEW+>') formattedItem.push('<li>' + data.isbn + '</li>');
    formattedItem.push('</ul>');
    return formattedItem.join('');
  }

  $("#course_book_isbn").select2({
    formatResult: course_book_isbn_format,
    formatSelection: course_book_isbn_format,
    allowClear: true,
    placeholder: "Select a book",
    ajax: {
      url: "/book_datas.json",
      dataType: 'json',
      quietMillis: 250,
      data: function (term, page) {
        return {
          q: term,
        };
      },
      results: function (data) {
        resultData = [];
        data.forEach(function (item) {
          itemData = item;
          itemData.id = item.isbn;
          itemData.text = item.name;
          resultData.push(itemData);
        });
        return { results: data };
      },
      cache: true
    },
    initSelection: function(element, callback) {
      var id = $(element).val();
      if (id !== "") {
        if (id.substring(0, 5) != 'NEW+>') {
          $.ajax("/book_datas/" + id + ".json", {
            dataType: "json"
          }).done(function(data) { callback(data); });
        } else {
          callback({id: id, text: id.substring(6, 999)});
          console.log({id: id, text: id.substring(6, 999)});
        }
      }
    },
    minimumInputLength: 2
  });

css:
  .select2-container {
    width: 100%;
  }
  .select2-result-label > ul > li, .select2-chosen > ul > li {
    display: inline-block;
    margin: 5px 10px;
  }
  .select2-result-label, .select2-chosen{
    position: relative;
    width: 100%;
    min-height: 80px;
  }
  .select2-result-label > img, .select2-chosen > img {
    width: 32px;
    padding-right: 5px;
    display: inline-block;
    vertical-align: middle;
  }
  .select2-chosen > img {
    margin-top: -6px;
  }
  .select2-result-label > ul, .select2-chosen > ul {
    width: calc(100% - 32px);
    display: inline-block;
    padding-left: 0px;
    vertical-align: middle;
  }
  .select2-choice {
    height:40px !important;
  }
  @media screen and (max-width:650px) {
    .select2-result-label > ul > li, .select2-chosen > ul > li {
      font-size: 10px;
      margin: 0px;
      margin-left: 5px !important;
      margin-right: 5px !important;
      line-height: 10px;
    }
  }
  .select2-result-label > ul > li:nth-child(2)::before {
    content:'作者: ';
    opacity: .5;
    font-size: 60%;
  }
  .select2-result-label > ul > li:nth-child(3)::before {
    content:'出版社: ';
    opacity: .5;
    font-size: 60%;
  }
  .select2-result-label > ul > li:nth-child(4)::before {
    content:'ISBN: ';
    opacity: .5;
    font-size: 60%;
  }
  .select2-results > li:nth-child(odd) {
    background-color: #fff;
  }
  .select2-results > li:nth-child(even) {
    background-color: #F0F0F0;
  }
  .select2-results .select2-highlighted {
    background: #28A38C !important;
  }
  .select2-results .select2-highlighted ul {
    background: #28A38C !important;
    color: #fff !important;
  }
  .select2-container .select2-choice .select2-arrow b {
    position: relative;
    top: 7px;
  }
