= simple_form_for(@lecturer_course, url: lecturer_courses_path, html: { class: '', style: 'margin-bottom: 36px;' }) do |f|
  = f.input :name
  = f.input :book_isbn
  = f.input :year
  = f.input :term
  = f.input :code
  = f.input :department_code
  = f.input :required
  = f.input :url
  = f.button :submit, style: 'background-color: green; color: #fff; margin-top: 20px;'
  = link_to '回到上一頁', :back, class:'btn btn-default', style: 'margin-top: 20px; margin-left: 20px'

javascript:

  function course_book_isbn_format(data) {
    if (!data.id) return data.text;
    if (!data.isbn) return data.text;
    formattedItem = [];
    if (data.image_url) formattedItem.push('<img style="max-height: 40px;" src="' + data.image_url + '"/>');
    formattedItem.push('<ul>');
    formattedItem.push('<li>' + data.text + '</li>');
    if (data.author) formattedItem.push('<li>' + data.author + '</li>');
    if (data.publisher) formattedItem.push('<li>' + data.publisher + '</li>');
    if (data.isbn && data.isbn.substring(0, 5) != 'NEW+>') formattedItem.push('<li>' + data.isbn + '</li>');
    formattedItem.push('</ul>');
    return formattedItem.join('');
  }

  $("#course_book_isbn").select2({
    formatResult: course_book_isbn_format,
    formatSelection: course_book_isbn_format,
    allowClear: true,
    placeholder: "Select a book",
    ajax: {
      url: "/book_datas.json",
      dataType: 'json',
      quietMillis: 250,
      data: function (term, page) {
        return {
          q: term,
        };
      },
      results: function (data) {
        resultData = [];
        data.forEach(function (item) {
          itemData = item;
          itemData.id = item.isbn;
          itemData.text = item.name;
          resultData.push(itemData);
        });
        return { results: data };
      },
      cache: true
    },
    initSelection: function(element, callback) {
      var id = $(element).val();
      if (id !== "") {
        if (id.substring(0, 5) != 'NEW+>') {
          $.ajax("/book_datas/" + id + ".json", {
            dataType: "json"
          }).done(function(data) { callback(data); });
        } else {
          callback({id: id, text: id.substring(6, 999)});
          console.log({id: id, text: id.substring(6, 999)});
        }
      }
    },
    minimumInputLength: 2
  });

css:
  .select2-container {
    width: 100%;
  }
