@import "materialize/core/prefixer";
@import "materialize/core/mixins";
@import "materialize/core/colors";
@import "materialize/core/helpers";

// Variables;
@import "materialize/core/variables";

// materialize/components
@import "materialize/core/global";
@import "materialize/core/icons-material-design";
@import "materialize/core/grid";
@import "materialize/core/preloader";
@import "materialize/core/roboto";
@import "materialize/core/typography";
@import "materialize/core/waves";
@import "materialize/core/materialbox";

//-----------------
//-----------------
/*

1. Landing Page
2. 完成訂購
3. 訂單狀態
4. 主揪
5. 手機版固定 Btn
6. Pin Menu 側邊固定 menu
7. 超商付款教學
8. Type Form
9. 上傳書籍
10. Others


*/
//-----------------
//-----------------




// --------
// 1. Landing Page
// --------

.service-introduction{
	padding: 36px 0;
	&.odd{
		background-color: #ddd;
	}
	.icon{
		text-align: center;
		&.odd{
			@media screen and (min-width: 992px){
				text-align: right !important;
			}
		}
		&.even{
			@media screen and (min-width: 992px){
				text-align: left !important;
			}
		}
		img{
			max-width: 250px;
		}
	}
	.text-content{
		padding-top: 16px;
		padding-left: 24px;
		padding-right: 24px;
		@media screen and (min-width: 992px){
			max-width: 450px;
			padding-left: 12px;
			padding-right: 12px;
			&.even{
				margin-left: auto;
			}
		}
		h3{
			color: black;
			font-size: 2em;
		}
		p{
			color: #717071;
		}
	}
}
.row.service-introduction {
  margin-bottom: 0;
}
.go-login{
  background: rgb(0, 208, 173);
  padding-top: 80px !important;
  padding-bottom: 150px !important;
  text-align: center;
  margin-top: 36px;
  h4{
  	color: #fff;
  	margin-bottom: 40px;
  	font-size: 1.6em;
  }
}

// End



// ---------
// 2. 完成訂購
// --------

.order-complete{

	padding: 8px 16px;

	.notice{
		margin: 24px 0 48px 0;
		h5{
			text-align: center;
		}
		i{
			margin-right: 12px;
			font-size: 5em;
			display: inline-block;
		}
	}
	.payment{
		.title{
			font-size: 1.6em;
			text-align: center;
		}
		.description{
			font-size: 1.2em;
			color: #F5A623;
			text-align: center;
			margin-bottom: 24px;
		}
		.payment-countdown{

		}
		.payment-info{
			padding: 0 0;

			.inner{
				p{

				}
				.payment-notice{
				    background: linear-gradient(30deg, #00d0ad 0%, #af3ee8 100%);
				    background: -webkit-linear-gradient(30deg, #00d0ad 0%, #af3ee8 100%);
				    background: -moz-linear-gradient(30deg, #00d0ad 0%, #af3ee8 100%);
				    background: -o-linear-gradient(30deg, #00d0ad 0%, #af3ee8 100%);
				    background: -ms-linear-gradient(30deg, #00d0ad 0%, #af3ee8 100%);
					padding: 12px 24px;
					text-align: center;
					margin: 24px 0;
					box-shadow: 8px 8px 0 #cccccc;
				    border-radius: 2px;

					i{
						font-size: 32px !important;
						color: #fff;
					}
					p{
						color: #fff;
						font-size: 1.2em;
						padding: 12px 0;
					}
				}
			}
		}
	}
	.order-info{
		padding: 24px 0;
		.title{
			font-size: 1.6em;
			text-align: center;
		}
	}
}

.bill-user-info{
    margin: 16px 0;
    background-color: #fff;
    padding: 24px;
    border: 3px dashed #5E6671;
    border-radius: 4px;
}

// End



// --------
// 3. 訂單狀態
// --------

.situation-not-send{
	border: 1px solid $orange;
	color: $orange;
	border-radius: $border-radius;
	padding: 3px 0;
	text-align: center;
	width: 100px;
	margin: 0 auto;
}
.situation-has-send{
	border: 1px solid $dark-gray;
	color: $dark-gray;
	border-radius: $border-radius;
	padding: 3px 0;
	text-align: center;
	width: 100px;
	margin: 0 auto;
}
.situation-has-got{
	border: 1px solid $primary-color;
	color: $primary-color;
	border-radius: $border-radius;
	padding: 3px 0;
	text-align: center;
	width: 100px;
	margin: 0 auto;
}
.situation-has-paid{
	border: 1px solid $primary-color;
	color: $primary-color;
	border-radius: $border-radius;
	padding: 3px 0;
	text-align: center;
	width: 100px;
	margin: 0 auto;
}

// End

// --------
// 4. 主揪
// --------

.leader-name{
	display: inline-block;
	font-weight: 600;
}
.leader-avatar{
	display: inline-block;
	border-radius: 1000px;
	border: 2px solid $dark-gray;
	overflow: hidden;
	margin: 0 8px;
	vertical-align: middle;
	width: 35px;
	height: 35px;
}

// End

// --------
// 5. 手機版固定 Btn
// --------

.login-mobile-btn{
	@media screen and (max-width: 992px){
		position: fixed;
		top: 14px;
		right: 18px;
		z-index: 99999999999;
		display: none;

		a{
			padding: 6px 12px;
			background-color: $primary-color;
			display: block;
			font-size: 12px;
			color: #fff;
			border-radius: $border-radius;
		}
	}
	@media screen and (min-width: 992px){
		display: none;
	}
}
.shopping-cart-mobile-btn{
	@media screen and (max-width: 992px){
		position: fixed;
		top: 12px;
		right: 18px;
		z-index: 99999999999;


		a{
			display: block;
			font-size: 24px;
			color: $darker-gray;
			i{
				color: $darker-gray;
				font-size: 24px !important;
			}
		}
	}
	@media screen and (min-width: 992px){
		display: none;
	}
}

// End

// --------
// 6. Pin Menu 側邊固定 menu
// --------

.pin-menu.fixed-menu{
	position: fixed;
	top: 120px;
}

.table-of-contents{
	a{
		height: 1.8em;
		line-height: 1.8em;
		font-size: 1.2em;

		&.active{
			border-left: 2px solid $primary-color;
		}
		&:hover{
			border-left: 2px solid $primary-color;
			opacity: 0.5;
		}
	}
}

// End

// --------
// 7. 超商付款教學
// --------

.supermarket-payment-info-item{
	a{
		display: block;
		text-align: center;
		img{
			max-width: 150px;
			display: block;
			margin: 0 auto;
		}
		button{
			margin-top: 16px;
			margin: 16px auto;
		}
	}
}
button.look-btn {
	background: transparent;
	border: 0;
	font-size: 2em;
	color: black;
}

// --------
// 8. 主揪介面 - 訂單
// --------

.group-show-book-info{
	.title{
		font-size: 2em;
	}
	.book-pic{
		width: 30px;
		display: inline-block;
		font-size: 1.4em;
		margin: 0 12px;
	}
	.book-name{
		display: inline-block;
		font-size: 1.4em;
		margin: 0 12px;
	}
	.book-author{
		display: inline-block;
		font-size: 1.4em;
		margin: 0 12px;
	}
	.book-edition{
		display: inline-block;
		font-size: 1.4em;
		margin: 0 12px;
	}
}
.group-show-members{
	margin-top: 36px;

	.title{
		font-size: 2em;
	}
}
.books-counter{
	.total-left{
		color: $primary-color;
		font-size: 1.6em;
	}
	margin-bottom: 24px;
}

// End


// --------
// 9. Type Form
// --------

#typeform-wrapper{
	z-index: 999999999999 !important;
	width: 100% !important;

	> img{
		width: 40px !important;
		background-color: black !important;
		right: 12px !important;
	}
}


// End


// --------
// 10. 上傳書籍
// --------

.upload-books{
	.step{
		background-color: #fff;
		padding: 36px 12px;
		.title{
			font-size: 1.6em;
			text-align: center;
		}
		.inner{
			padding: 12px 24px;
		}
	}
	.upload-books-step{
		width: 100%;
		height: 100%;
		overflow: auto;
		position: absolute;
		background-color: #EEE;
		padding: 36px 12px;
		opacity: 0;
		visibility: hidden;

		@include transition-all(0.3s);

		&.active{
			opacity: 1;
			visibility: visible;
		}
	}
	.upload-books-step1{
		z-index: 3;
	}
	.upload-books-step2{
		z-index: 2;
		.lecturer-search-results{
			height: 300px;
			overflow-y: auto;
			border: 1px solid rgb(240,240,240);

			.lecturer-item{
				padding: 12px 24px;
				cursor: pointer;

				&:hover{
					background-color: $primary-color !important;
					color: #fff;
				}

				&:nth-child(2n-1){
					background-color: #eee;
				}
			}
		}
	}
	.upload-books-step3{
		z-index: 1;
		.courses-results{
			height: 300px;
			overflow-y: auto;
			padding: 0;

			.course-option{
				padding: 16px 12px;
				text-align: center;
				background-color: $darker-gray;
				color: #fff;
				cursor: pointer;

				&:hover{
					opacity: 0.8;
				}

				&.active{
					background-color: #fff !important;
					color: $darker-gray !important;
				}
			}
		}
		.course-book-confirm-option{
			background-color: #fff;
			opacity: 0;
			visibility: hidden;
			position: absolute;
			width: 100%;
			min-height: 400px;
			max-height: 800px;
			@include transition-all(0.3s);

			&.active{
				opacity: 1;
				visibility: visible;
			}

			.book-info{
				.book-img{
					width: 50%;
					float: left;
					text-align: center;
					img{
						max-width: 100px;
						width: 100%;
					}
				}
				.book-info-inner{
					display: inline-block;
  					vertical-align: middle;
  					width: 50%;
				}
				.confirm{
					text-align: center;
					color: #26A69A;
					padding: 12px;
				}
			}
			.change-book-search-field{
				.books-search-results{
					height: 300px;
					overflow-y: auto;
					border: 1px solid rgb(240,240,240);

					.book-item{
						.book-img{
							width: 60px;
						}
						.book-info{

						}
					}
				}
			}
		}
		.course-book-confirm-option-field{
			padding: 0;

			.title{
				background-color: $primary-color;
				color: #fff;
				padding: 6px 0;
			}
			.inner{
				padding: 0 !important;

				.course-book-confirm-option{
					padding: 36px 24px;
				}
			}
		}
		.courses-select-options{
			padding: 0 !important;

			.title{
				background-color: $primary-color;
				color: #fff;
				padding: 6px 0;
			}
		}
	}
}



// --------
// Others
// --------


i{
	vertical-align: middle;
}
.list-icon{
  display: inline-block !important;
  margin-right: 5px;
}
.help-btn{
  background-image: url("/images/help.png");
  background-size: 80%;
  background-position: 4px 2px;
  width: 40px !important;
  height: 40px;
  background-repeat: no-repeat;
}
.wrapper{
	min-height: 100vh;
}


// ------
// Coupon
//


.coupon{
	max-width: 600px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    text-shadow: 1px 1px 2px rgba(0,0,0,.4);
    color: #fff;
    padding: 12px;

    > .coupon-inner{
	    border: 5px dashed #fff;
	    padding: 16px 0;
    }
}


.cart-items-field , .order-confirm-table{
    padding-top: 24px;

    > p{
		margin-bottom: 40px;
	    color: #33C7AB;
	    font-size: 24px;
	    border-radius: 4px;
	    border: 2px dashed #33C7AB;
	    display: inline-block;
	    padding: 4px 16px;
    }
}

.container-fluid.cart-items{
	padding-bottom: 80px;
	padding: 0 12px
}

.form-control[readonly]{
	background-color: transparent;
}

.guide-item{
    background-color: #fff;
    padding: 24px 16px;
    border: 1px solid #DDD;
    position: relative;
    box-shadow: 8px 8px 0 #CCCCCC;
    -webkit-box-shadow: 8px 8px 0 #CCCCCC;

    label{
    	font-size: 18px;
    	margin-top: 16px;
    }

	> .guide-item-title{
		margin-top: -54px;
	    margin-bottom: 40px;
	    background-color: #5E6671;
	    padding: 8px 12px;
	    display: block;
	    max-width: 400px;
	    color: #fff;
	    width: auto;
	    border-radius: 2px;
	    z-index: 1;
	    box-shadow: 1px 1px 0 #CCCCCC;
	}

	> .guide-item-pic{
		border: 1px solid #DDD;
		max-width: 400px;
	}

	> .guide-item-text{
		margin: 16px 0 32px 0;

		> p{
			font-size: 14px;
			color: $dark-gray;
		}
	}

	blockquote{
		color: $dark-gray;
		font-size: 16px;
	}
}
.materialboxed.active{
	max-width: 10000px;
}

#books-search-field{
	> .search-bar{
		max-width: 600px;
	}
	form > span{
		position: relative;
	    display: inline-block;
	    width: calc(100% - 150px);
	    vertical-align: middle;

	    @media screen and (max-width: 600px) {
	    	width: 100%;
	    	display: block;
	    }
	}

}

#books-search-field-submit {
    display: inline-block;
    width: 120px;
    padding: 8px 32px !important;
    margin: 0 12px;

    @media screen and (max-width: 600px) {
		display: block;
		margin: 8px auto 0 auto;
    }
}

.index-c-countdown{
	padding: 8px 0 !important;
	background: linear-gradient(30deg, #00d0ad 0%, #af3ee8 100%);
    background: -webkit-linear-gradient(30deg, #00d0ad 0%, #af3ee8 100%);
    background: -moz-linear-gradient(30deg, #00d0ad 0%, #af3ee8 100%);
    background: -o-linear-gradient(30deg, #00d0ad 0%, #af3ee8 100%);
    background: -ms-linear-gradient(30deg, #00d0ad 0%, #af3ee8 100%);

}

.course-with-no-books-trigger-field{
    padding: 12px 24px;
    text-align: center;
    margin: 8px 8px 16px 8px;
    background-color: #5E6671;
    border-radius: 2px;
    box-shadow: 6px 6px 0 #CCCCCC;
    border: 1px solid #DDD;


    .course-with-no-books-trigger-field-text{
    	color: #fff;
    }
}

#index-c-countdown{
	font-size: 16px !important;

	span{
		font-size: 20px !important;
	}
}

.banner{
    min-height: 500px;
    padding: 16px 8px;
    position: relative;

	&.sponsors{
		background-image: image-url('sponsors/bg2.jpg');
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}

	&.taiwan-mobile{
		background-image: image-url('sponsors/taiwan-mobile/bg.jpg');
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}

	&.gjun{
		background-image: image-url('sponsors/gjun/bg.jpg');
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}

	&.colorgy-books{
		background-image: image-url('sponsors/bg1.jpg');
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}

	&.taiwan-mobile-banner{
		background-image: image-url('slides/7.jpg');
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}

	&.tutor-abc{
		background-image: image-url('sponsors/tutorabc/1680x450.jpg');
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}

	&.tutor-abc-bottom{
		background-image: image-url('sponsors/tutorabc/maxresdefault.jpg');
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}

	.banner-mask{
	    background: -moz-linear-gradient(top, rgb(58,28,255) 0%, rgb(255,58,48) 100%);
	    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgb(58,28,255)), color-stop(100%, rgb(255,58,48)));
	    background: -webkit-linear-gradient(top, rgb(58,28,255) 0%, rgb(255,58,48) 100%);
	    background: -o-linear-gradient(top, rgb(58,28,255) 0%, rgb(255,58,48) 100%);
	    background: -ms-linear-gradient(top, rgb(58,28,255) 0%, rgb(255,58,48) 100%);
	    background: linear-gradient(to bottom, rgb(58,28,255) 0%, rgb(255,58,48) 100%);
	    position: absolute;
	    top: 0;
	    left: 0;
	    right: 0;
	    bottom: 0;
	    opacity: 0.5;

	    &.banner-mask--blue{
		    background: -moz-linear-gradient(top, #1A82FB 0%, #17727B 100%);
		    background: -webkit-gradient(left top, left bottom, color-stop(0%, #1A82FB), color-stop(100%, #17727B));
		    background: -webkit-linear-gradient(top, #1A82FB 0%, #17727B 100%);
		    background: -o-linear-gradient(top, #1A82FB 0%, #17727B 100%);
		    background: -ms-linear-gradient(top, #1A82FB 0%, #17727B 100%);
		    background: linear-gradient(to bottom, #1A82FB 0%, #17727B 100%);

	    }

	    &.banner-mask--blue2{
		    background: -moz-linear-gradient(top, #1A82FB 0%, #17727B 100%);
		    background: -webkit-gradient(left top, left bottom, color-stop(0%, #1A82FB), color-stop(100%, #17727B));
		    background: -webkit-linear-gradient(top, #1A82FB 0%, #17727B 100%);
		    background: -o-linear-gradient(top, #1A82FB 0%, #17727B 100%);
		    background: -ms-linear-gradient(top, #1A82FB 0%, #17727B 100%);
		    background: linear-gradient(to bottom, #1A82FB 0%, #17727B 100%);

	    }
	}

	.banner-content--center{
	    position: absolute;
	    top: 50%;
	    left: 50%;
	    transform: translate(-50%, -50%);
	    -webkit-transform: translate(-50%, -50%);
	    -o-transform: translate(-50%, -50%);
	    -ms-transform: translate(-50%, -50%);
	    -moz-transform: translate(-50%, -50%);
	    text-align: center;
	    color: #fff;
	    text-shadow: 1px 1px 3px rgba(0,0,0,.3);
	    width: 90%;
	}
    .icon{
		vertical-align: middle;
    }

    .banner-description{
    	font-size: 20px;
    }
}

.banner.introduction{
    min-height: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    text-shadow: 1px 1px 2px rgba(0,0,0,.5);

    > .banner-content{
	    position: relative;
		text-align: center;
		color: #fff;
		padding: 80px 0 120px 0;
    }

}
.banner-bar{
	background-color: #E9EBEC;
	position: relative;
	color: #5E6671;
	text-align: center;
    padding: 32px 0 16px 0;

    h6{
    	margin-top: 16px;
    }

    &.flat-design-background{
    	background-image: image-url('flat-design-office-desk.jpg');
    	background-size: cover;
    	background-position: center;
    	background-repeat: no-repeat;
    	padding: 80px 0;
	    text-shadow: 1px 1px 2px rgba(0,0,0,.5);
        color: #fff;

    	> .banner-mask{
    		position: absolute;
    		top: 0;
    		left: 0;
    		right: 0;
    		bottom: 0;
    		background-color: rgba(0,0,0, .3);
    	}

    	p{
		    line-height: 2.4em;

		    > span{
	    	    background-color: #53B9BD;
			    margin: 0 8px;
			    display: inline-block;
			    padding: 1px 8px;
			    vertical-align: middle;
		    }
    	}
    }
}

.sponsor-item {
    padding: 8px;
    background-color: #fff;
    border: 1px solid #DDD;
    margin: 8px;
}
.sponsor-item-title {
    font-size: 1.6em;
    margin: 8px 0 16px 0;
    text-align: center;
}
.sponsor-item-actions {
    margin: 24px 0 12px 0;
    text-align: center;
}
.sponsor-item-description {
    font-size: 14px;
    color: #5E6671;
    padding-top: 12px;
}

.sponsors-declaration{
    background-color: #fff;
    border: 1px solid #DDD;
    margin: 8px;
    padding: 12px;

    > .title{
	    background-color: #5E6671;
	    color: #fff;
	    padding: 8px;
	    border-radius: 2px;
	    display: block;
	    max-width: 200px;
	    margin-top: -32px;
	    text-align: center;
    }

    > .description{
		font-size: 16px;
		color: #5E6671;
		padding: 16px 8px;
    }
}
.row.margin-bottom-none{
	margin-bottom: 0;
}

.message-bar{
    margin: 16px auto;
    background-color: #fff;
    padding: 12px 12px;
    border: 1px solid #DDD;
    border-radius: 2px;
    max-width: 600px;

    > .message-bar-action{
	    display: inline;
	    vertical-align: middle;

	    > p{
	    	display: inline-block;
		    margin-bottom: 0;

		    > label{
	    	    margin-bottom: 0;


		    }
	    }
    }

    > .message-bar-content{
	    display: inline;
	    vertical-align: middle;

	    > p{
	    	display: inline;
	    }
    }
}

#new_taiwan_mobile_img{
	background: #fff;
	padding: 24px 12px;
	display: block;
	margin: 0 auto;
	max-width: 300px;
	text-align: center;
	border-radius: 2px;
	border: 1px solid #DDD;
	box-shadow: 4px 4px 0 #CCCCCC;

	> input[type="submit"]{
		margin-top: 24px;
	}
}

.books-index-sponsors.fixed-menu{
	width: calc(16.666667% - 16px);
}

.pagination li.prev, .pagination li.next{
	width: auto;
}

.add-buy [type="checkbox"]+label{
	height: auto;
}
.nav-bar-drop-down{
	position: relative;

	.drop-down-list{
	    float: none;
	    z-index: 10000;
	    width: 100%;
	    background-color: #fff;
	    border: 1px solid #DDD;
	    box-shadow: 2px 2px 5px rgba(0,0,0,.4);
	    padding: 8px 0;
	    margin: 0 !important;

	    > li {
	    	> a{
	    		color: #222;
	    	}

	    	&:hover a{
	    		background-color: #5E6671;
	    		color: #fff;
	    	}
	    }
	}
}
.pagination li.active{
	background-color: transparent;
}

.pagination li.active a{
	background-color: #33C7AB;
}

.owl-item a {
	display: block;
}

.colorgy-preloader{
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background-color: rgba(0,0,0,.4);
	z-index: 1006;
	opacity: 0;
	visibility: hidden;
	transition: all .5s;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-o-transition: all .5s;
	-ms-transition: all .5s;

	&.active{
		opacity: 1;
		visibility: visible;
	}

	> .colorgy-preloader-icon{
		width: 120px;
		height: 120px;
		top: 50%;
		left: 50%;
		position: absolute;
		transform: translate(-50%, -50%);
		-webkit-transform: translate(-50%, -50%);
		-moz-transform: translate(-50%, -50%);
		-o-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
	}
}

@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -ms-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  to {
    -ms-transform: rotateY(360deg);
    -moz-transform: rotateY(360deg);
    -webkit-transform: rotateY(360deg);
    -o-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  to {
    -ms-transform: rotateY(360deg);
    -moz-transform: rotateY(360deg);
    -webkit-transform: rotateY(360deg);
    -o-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}
.infinite-rotating {
  -webkit-animation: rotating .8s linear infinite;
  -moz-animation: rotating .8s linear infinite;
  -ms-animation: rotating .8s linear infinite;
  -o-animation: rotating .8s linear infinite;
  animation: rotating .8s linear infinite;
}

.service-intro-text{

	max-width: 500px;
	margin: 24px auto;

	> h3{
		color: $dark-gray;
	    font-style: italic;
	}

	> h5{
	    color: #5F97BE;
	    margin: 12px 0;
	    padding: 0 12px;
	}

	> p{
		color: $dark-gray;
	    margin: 12px 0 40px 0;
	    padding: 0 12px;
	}
}

.pagination li{
	padding: 0 4px;
	margin: 4px 0;
}

a:hover, a:focus {
    color: #E1E2E2;
    outline: none !important;
}

iframe{
	width: 100%;
}

.checkout-options-field.package-delivery-form{
	max-width: 100%;
}

.dorm-address{
	select, input{
		margin: 0 4px;

		@media screen and (max-width: 600px) {
			margin: 8px 0;
		}
	}

	.s12{
		@media screen and (min-width: 600px) {
			padding: 0 8px;
		}
	}
}

blockquote{
	font-size: 1em;
}


.enter-game {
  margin: 0 auto;
  max-width: 600px;
  padding: 0 8px;

  > .enter-game-inner{
		display: block;
		position: relative;
		border-radius: 2000px;
		overflow: hidden;

		> .enter-game-mask{
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-color: rgba(0,0,0,.3);
			border-radius: 2000px;
			opacity: 0;
			transition: all 0.5s;
			-webkit-transition: all 0.5s;
			-moz-transition: all 0.5s;
			-o-transition: all 0.5s;
			-ms-transition: all 0.5s;
		}

		> .enter-game-text{
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			-webkit-transform: translate(-50%, -50%);
			-moz-transform: translate(-50%, -50%);
			-o-transform: translate(-50%, -50%);
			-ms-transform: translate(-50%, -50%);
			transition: all 0.5s;
			-webkit-transition: all 0.5s;
			-moz-transition: all 0.5s;
			-o-transition: all 0.5s;
			-ms-transition: all 0.5s;
			z-index: 1;
	    font-size: 20px;
	    color: #fff;
	    text-shadow: 1px 1px 5px rgba(0,0,0,.3);
	    opacity: 0;
	    visibility: hidden;
	    text-align: center;

	    > .enter-game-text-title{
	    	display: block;
	    	margin: 4px 0 8px 0;
	    }

	    > .btn{
	    	display: inline-block;
	    	margin: 4px 0;
	    	font-size: 14px;
	    }
		}
  }

  &:hover{
  	.enter-game-mask{
  		opacity: 1;
  	}

  	.enter-game-text{
  		opacity: 1;
  		visibility: visible;
  	}
  }
}

.enter-game-title{
	text-align: center;
	font-weight: 700;
  font-size: 1.6em;
  color: #E26D5A;
  border: 3px solid;
  padding: 4px 12px;
  border-radius: 8px;
  display: block;
  max-width: 500px;
}

.message-blockquote{
	text-align: center;
	background-color: #fff;
	margin: 4px 24px 8px 24px;
	border-right: 1px solid #EEE;
	border-top: 1px solid #EEE;
	border-bottom: 1px solid #EEE;
}

.form-block{
  background-color: #fff;
  padding: 16px 16px 48px 16px;
  max-width: 600px;
  margin: 24px auto 80px auto;
  text-align: left;
  border-radius: 2px;
  box-shadow: 1px 1px 10px rgba(0,0,0,.4);
}
.books-index-sponsors{
	border: 0;
	background-color: transparent;

	&:hover{
		opacity: 0.8;
	}
}

.toast-block-container{
	position: fixed;
	bottom: 24px;
	left: 0;
	width: 100%;
	max-width: 300px;
}

.toast-block{
	background-color: rgba(0,0,0,.7);
	color: #fff;
	padding: 12px 24px;
	text-align: center;

	> .toast-block-close-btn{
		position: absolute;
		top: 4px;
		right: 4px;
		cursor: pointer;
	}

	> .toast-block-icon{
		> i{
			font-size: 30px !important;
		}
	}

	> .toast-block-title{
    font-size: 24px;
    margin-top: 6px;
	}

	> .toast-block-message{
		margin: 12px 0;
		font-size: 16px;
	}
}

/* Isotope */
/* clear fix */
.isotope:after {
  content: '';
  display: block;
  clear: both;
}
/* ---- .element-item ---- */
.grid-sizer{
  width: 18%;
}
.isotope-item{
	margin: 1%;
}

.card.user-item {
  display: inline-block;
  float: left;
}

@media screen and (min-width: 1425px ){  .isotope-item { width: 48%; } }
@media (max-width: 1425px ) and (min-width: 800px ){ .isotope-item { width: 48%; } }
@media (max-width: 800px ) and (min-width: 320px ){ .isotope-item { width: 48%; } }
@media screen and (max-width: 508px){  .isotope-item { width: 98%; } }


@media screen and (min-width: 600px) {
	.row.margin-bottom-none.index-header{
    display: flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -o-flex-wrap: wrap;
	}

	.index-slider{
    flex-grow: 1;
    flex-basis: 66.66666%;
    -webkit-flex-grow: 1;
    -ms-flex-grow: 1;
    -moz-flex-grow: 1;
    -o-flex-grow: 1;
    -webkit-flex-basis: 66.66666%;
    -ms-flex-basis: 66.66666%;
    -moz-flex-basis: 66.66666%;
    -o-flex-basis: 66.66666%;
	}

	.index-news{
    flex-grow: 1;
    flex-basis: 33.33333%;
    -webkit-flex-grow: 1;
    -ms-flex-grow: 1;
    -moz-flex-grow: 1;
    -o-flex-grow: 1;
    -webkit-flex-basis: 33.33333%;
    -ms-flex-basis: 33.33333%;
    -moz-flex-basis: 33.33333%;
    -o-flex-basis: 33.33333%;
	}
}

.index-news{
	background-color: #5E6671;
}

.news{
	padding: 16px;

	> .news-title{
		color: #FFF;
		text-align: center;
		margin-bottom: 16px;

		> .icon{
			margin-right: 4px;
		}
	}

	> .news-content{
		> .news-list{
			padding-left: 32px;
			list-style-type: circle;
			color: #FFF;
			> li{
				list-style-type: circle;
				color: #FFF;

				> a{
					color: #FFF;
					padding: 4px 0;

					&:hover{
						color: #D9DADC;
					}
				}
			}
		}
	}
}
.side-bar.fixed-menu{
	width: 16.66667%;
}
.Select-arrow{
	border-width: 12px 8px 0;
}
.is-open > .Select-control > .Select-arrow{
	border-width: 0 8px 12px;
}
.side-bar blockquote{
	font-size: 16px;

	> span{
		color: #D26759;
		font-weight: 700;
	}
}

.credits-clock-countdown{
  position: fixed;
  right: 0;
  padding: 8px 16px;
  top: 35%;
  background-color: #FFF;
  border: 1px solid #EEE;
  border-radius: 2px;
  z-index: 998;
	cursor: pointer;

	&:hover{
		opacity: 0.6;
	}

	> .credits-clock-countdown-close-btn{
		position: absolute;
		top: 4px;
		left: 4px;
		cursor: pointer;
	}

  > .icon{
		width: 28px;
		vertical-align: middle;
		margin-right: 12px;
  }

  > p{
		font-size: 14px;
		display: inline-block;
		vertical-align: middle;
		margin: 0;
		color: #5E6671;
		letter-spacing: 0.5px;

		> span{
			color: #D26759;
		}
  }
}

.returns-refunds-forms-item{
	background-color: #FFF;
  padding: 16px 12px;
  border: 1px solid #DDD;
  border-radius: 2px;
  margin-top: 16px;
}

.status-label {
  display: inline-block;
  font-style: italic;
	border-radius: 4px;
	padding: 2px 4px;

  &.pending{
		color: #EA9C0C;
		border: 2px #EA9C0C solid;
  }

  &.processing{
		color: #677ECE;
		border: 2px #677ECE solid;
  }

  &.complete{
  	color: $primary-color;
  	border: 2px $primary-color solid;
  }
}
