/*
 * This is a manifest file.
 *
 *= require admin_lte/bootstrap/css/bootstrap
 *= require admin_lte/dist/css/AdminLTE
 *= require admin_lte/dist/css/skins/_all-skins
 *= require select2
 *= require select2-bootstrap
 *= require vendor/animate
 *= require colorgy/components/_toast
 *= require font-awesome
 *= require_self
 */

@import "supplier/**/*";

html {
	height: 100%;
}

body {
	height: 100%;
}

.login-box .checkbox {
	margin-left: 20px;
}

.main-header {

	small {
		font-size: 8px;
	}
}

.sidebar {

	.user-panel {
		min-height: 65px;

		.info:only-child {
			padding: 5px;
			left: auto;
		}
	}

	.labels {

		.label {
			position: relative;
			top: -4px;
		}
	}
}

.box-title {

	.Select-control,
	.Select-placeholder {
		font-size: 14px;
		line-height: 18px;
		padding: 7px 52px 7px 10px;
	}

}

.box-tools > * {
	display: inline-block;
	vertical-align: bottom;
	height: 34px;
}

.box-tools-text {
	line-height: 34px;
}

.box-tools {

	.pagination {
		margin: 0;
	}
}

.box-tools.main {
	margin-top: 4px;
}

th {

	&.clickable {
		cursor: pointer;
	}

	&.sort-by-asc::after {
		content: '';
		display: inline-block;
		width: 0;
		height: 0;
		margin-left: 2px;
		vertical-align: middle;
		border-top: 4px dashed;
		border-right: 4px solid transparent;
		border-left: 4px solid transparent;
	}

	&.sort-by-desc::after {
		content: '';
		display: inline-block;
		width: 0;
		height: 0;
		margin-left: 2px;
		margin-bottom: 2px;
		vertical-align: middle;
		border-bottom: 4px dashed;
		border-right: 4px solid transparent;
		border-left: 4px solid transparent;
	}
}
